<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>customAnnotationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B50C1861ED6E46200D1D7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B50C19F1ED6E46200D1D7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B50C1AA1ED6E46200D1D7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
